.box{
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    padding: 0;
}

.text{
    text-align: center;
    margin: 0;
    padding: 0;
}


.link{
    color: rgba(76, 76, 255, 1);
    text-decoration: none;
}
.link:active{
    color: white;
}

.btn{
    width: min-content;
    justify-self: center;
}
