.box {
    display: grid;
    gap: 0 16px;
    width: 100%;
    grid-template-columns: max-content 1fr max-content;
    height: max-content;
    padding: 0;
    align-items: center;
}

.icon{
    max-height: 64px;
    max-width: 64px;
    padding: 0;
    display: flex;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    background: rgba(28, 28, 33, 1);
    border: 2px solid #801ab3;
    align-self: normal;
}

.img {
    display: block;
    height: 100%;
    width: auto;
    object-fit: cover;
    padding: 0;
}

.totalPrice {
    display: grid;
    column-gap: 10px;
    height: max-content;
    grid-template-columns: max-content max-content;
    align-items: center;
    margin-right: 24px;
}