.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 88px;
    align-items: center;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 8px;
    width: max-content;
    height: max-content;
    margin: 0;
}

.logo {
    margin: auto;
    display: flex;
    width: max-content;
    justify-content: center;
    text-decoration: none;
    height: max-content;
}

.link{
    text-decoration: none;
    display: flex;
    height: max-content;
    width: max-content;
}